body {
    font-family: verdana, sans-serif;
    color: #36393F;
    background-color: #b6e1fc
}

h1, h2 {
    text-align: center;
}

h2 {
    font-weight: semi-bold;
}

p {
    margin-top: 3px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

img {
    width: 900px;
    height: 600px;
}

.nav-button {
    background-color: #80ceff;
    border: none;
    padding: 10px 20px;
    margin: auto 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.nav-button:hover {
    background-color: #7fbadf;
}

#map-subtitle {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#map-blurb {
    padding-left: 50px;
}

#button-row {
    display: inline-block;
}

#map-view {
    text-align: center;
}

#map {
    text-align: center;
    margin: 50px;
    /* height: 600px;
    width: 900px; */
}

#reader-view {
    text-align: center;
}

#reader-window {
    width: 700px;
    height: 800px;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

#attribution {
    text-align: center;
    margin-left: 10px;
    font-size: 10px;
}

#navbar {
    margin: 0 15%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    
}