body {
    font-family: verdana, sans-serif;
    color: #36393F;
    background-color: lightskyblue;
}

h1, h2 {
    text-align: center;
}

p {
    margin-top: 3px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

#button-row {
    display: inline-block;
}

#map {
    height: 500px;
}

#bottom-text {
    margin-left: 10px;
    font-size: 10px;
}